body {
	background-image: url(../images/gallery/background_image.jpg);
	background-size: 100%;
}
.main_table_cont {
	border: 5px solid #01003d;
	text-align: center;	
}
.about {
	color: grey;
	font-style: italic;
	font-size: 120%;
	background-color: black;
}
.text_table {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	font-family: times;
	color: #01003d;
}
.main_table {
	border: 5px solid LightSteelBlue;
	background-color: LightSteelBlue;
	margin-left: auto;
	margin-right: auto;
}
h1	{
	color: white;
	font-family: serif;
	font-size: 200%;
	text-align: center;
	margin: 0px 30px 0px 15px;
	text-indent: 30px;
	text-shadow: black 3px 4px 5px;
}
.p1 {
	color: white;
	font-family: serif;
	font-size: 140%;
	text-align: justify;
	margin: 0px 30px 0px 15px;
	text-indent: 30px;
	text-shadow: black 3px 4px 5px;
	line-height: 180%;
}
#myBtn {
	display: none;
	position: fixed; 
	bottom: 20px; 
	right: 30px; 
	border: 5px solid #01003d; 
	background-color: LightSteelBlue; 
	color: #01003d;
	cursor: pointer;
	border-radius: 10px;
	font-size: 120%;
}
.sec-center {
	position: relative;
	text-align: center;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
	position: absolute;
	display: none;
}
.section-dropdown {
	position: absolute;
	background-color: LightSteelBlue;
	top: 40px;
	display: block;
	opacity: 0;
	transform: translateY(10px);
	transition: all 200ms linear;
	z-index: 11;
}
.dropdown:checked ~ .section-dropdown{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
.dropdown:not(:checked) ~ .section-dropdown{
    z-index: 1;
	display: none;
}
.a1 {
	position: relative;
	color: #01003d;
	font-family: times;
	font-weight: bold;
	text-align: center;
	align-items: center;
}
.trans {
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.top {
	display: flex;
	width: 80vw;
	height: 80vh;
	margin-left: auto;
	margin-right: auto;
}
.top ul {
	list-style: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
}
.top ul li {
	position: relative;
	float: left;
	width: 25%;
	height: 25%;
	overflow: hidden;
}
.top ul li img {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.lightbox {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}
.lightbox img {
	max-width: 90%;
	max-height: 80%;
	position: relative;
	top: -100%;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.lightbox:target {
	opacity: 1;
	pointer-events: auto;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}
.lightbox:target img {
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.his_life_timeline	{
    text-align: center;
	font-size: 150%;
	font-family: times;
	color: #01003d;
	text-decoration-line: underline;
}
iframe {
	width: 790px;
	height: 330px;
	border: 4px solid #01003d;
}
.video {
	margin-left: auto;
	margin-right: auto;
}